<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>주식, 코인 물타기 계산기</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/@mdi/font@4.x/css/materialdesignicons.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
</head>
<body>

<v-container id="app">
    <h2>현재 보유</h2>
    <v-row>
        <v-col cols="12" sm="4">
            <v-text-field
                v-model="currentCurrency.buyingPrice"
                type="number"
                label="매수 평균가"
                @input="onInputBuyingPrice(currentCurrency)"
            ></v-text-field>
        </v-col>
        <v-col cols="12" sm="4">
            <v-text-field
                v-model="currentCurrency.holdingQuantity"
                type="number"
                label="보유 수량"
                @input="val => onInputHoldingQuantity(currentCurrency, val)"
            ></v-text-field>
        </v-col>
        <v-col cols="12" sm="4">
            <v-text-field
                v-model="currentCurrency.totalBuyingPrice"
                type="number"
                label="매수 금액"
                @input="val => onInputTotalBuyingPrice(currentCurrency, val)"
            ></v-text-field>
        </v-col>
    </v-row>

    <h2>추가 매수</h2>
    <v-row
        v-for="(v, i) in currenciesToAdd"
        :key="i"
    >
        <v-col cols="12" sm="4">
            <v-text-field
                v-model="v.buyingPrice"
                type="number"
                label="단가"
                @input="onInputBuyingPrice(v)"
            ></v-text-field>
        </v-col>
        <v-col cols="12" sm="4">
            <v-text-field
                :value="v.holdingQuantity"
                type="number"
                label="보유 수량"
                @input="quantity => onInputHoldingQuantity(v, quantity)"
            ></v-text-field>
        </v-col>
        <v-col cols="11" sm="3">
            <v-text-field
                :value="v.totalBuyingPrice"
                type="number"
                label="총 매수 금액"
                @input="price => onInputTotalBuyingPrice(v, price)"
            ></v-text-field>
        </v-col>
        <v-col cols="1" sm="1" md="1" lg="1" xl="1">
            <v-btn
                v-if="i === 0"
                small
                tile
                @click="onClickAddCurrency"
            >
                +
            </v-btn>
            <v-btn
                v-if="i !== 0"
                small
                tile
                @click="onClickRemoveCurrency(i)"
            >
                -
            </v-btn>
        </v-col>
    </v-row>

    <h2>결과</h2>
    <v-row>
        <v-col cols="12" sm="4">
            <v-text-field
                v-model="resultCurrency.buyingPrice"
                type="number"
                label="매수 평균가"
                disabled
            ></v-text-field>
        </v-col>
        <v-col cols="12" sm="4">
            <v-text-field
                v-model="resultCurrency.totalHoldingQuantity"
                type="number"
                label="보유 수량"
                disabled
            ></v-text-field>
        </v-col>
        <v-col cols="12" sm="4">
            <v-text-field
                v-model="resultCurrency.totalBuyingPrice"
                type="number"
                label="매수 금액"
                disabled
            ></v-text-field>
        </v-col>
    </v-row>
</v-container>

</body>
</html>

<script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
<script src="./app.js"></script>
