<!DOCTYPE html>
<html>
<head>
    <title>주식, 코인 물타기 계산기 (분할 매수 지원)</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui" charset="UTF-8">
    <meta name="description" content="주식, 코인 물타기 계산기. 보유 평단가에서 추가 매수할 경우 적용되는 결과 평단가를 웹페이지에서 자동 계산해주며, 종목별 분할 매수 계산을 지원한다.">
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/@mdi/font@5.x/css/materialdesignicons.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">

    <script async src="https://www.googletagmanager.com/gtag/js?id=G-F6S752DBV1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-F6S752DBV1');
    </script>
</head>
<style>
    @media only screen and (min-width: 600px) {
        .sticky-bottom {
            position: -webkit-sticky;
            position: sticky;
            bottom: 0;
        }
    }

    .font-size-1 {
        font-size: 1.11rem;
    }

    .white-theme {
        background-color: #fff;
    }
</style>
<body class="body-2">
<v-app id="app">
    <v-container fluid style="max-width: 700px;">
        <v-row>
            <v-col>
                <v-subheader style="padding: 0px;">
                    <h2>주식, 코인 물타기 계산기</h2>
                    <v-spacer></v-spacer>
                    <v-menu
                        offset-y
                        left
                        bottom
                    >
                        <template v-slot:activator="{ on, attrs }">
                            <v-btn
                                v-on="on"
                                v-bind="attrs"
                                icon
                            >
                                <v-icon>mdi-dots-vertical</v-icon>
                            </v-btn>
                        </template>

                        <v-list>
                            <v-list-item
                                @click="onClickInitialize"
                            >
                                초기화
                            </v-list-item>
                        </v-list>
                    </v-menu>
                </v-subheader>
                <v-subheader style="padding: 0px;">
                    수수료가 발생할 경우 결과값에 차이가 있을 수 있습니다.
                </v-subheader>
            </v-col>
        </v-row>

        <v-row>
            <v-col style="display: flex;">
                <v-select
                    v-model="activeTabIndex"
                    :items="tabs"
                    item-text="name"
                    item-value="index"
                    hide-details
                    :menu-props="{ offsetY: true, left: true, bottom: true }"
                    color="#000"
                    style="margin-top: 0px; padding-top: 0px;"
                >
                </v-select>
                <v-btn
                    icon
                    @click="onClickOpenTabSettingDialog"
                >
                    <v-icon>mdi-cog</v-icon>
                </v-btn>
            </v-col>
        </v-row>

        <v-row>
            <v-col>
                <v-card
                    color="#e05a5a"
                    dark
                    tile
                    outlined
                >
                    <v-card-title class="font-size-1">
                        <span>현재 보유</span>
                    </v-card-title>
                    <v-card-text>
                        <v-row>
                            <v-col cols="6" sm="4">
                                <v-text-field
                                    ref="accountPrice"
                                    v-model="tabs[activeTabIndex].account.entryPrice"
                                    type="number"
                                    label="매수 평균가"
                                    hide-details
                                    dense
                                    clearable
                                    @input="onInputPrice(tabs[activeTabIndex].account)"
                                ></v-text-field>
                            </v-col>
                            <v-col cols="6" sm="4">
                                <v-text-field
                                    v-model="tabs[activeTabIndex].account.quantity"
                                    type="number"
                                    label="보유 수량"
                                    hide-details
                                    dense
                                    clearable
                                    @input="val => onInputQuantity(tabs[activeTabIndex].account, val)"
                                ></v-text-field>
                            </v-col>
                            <v-col cols="12" sm="4">
                                <v-text-field
                                    v-model="tabs[activeTabIndex].account.totalEntryPrice"
                                    type="number"
                                    label="매수 금액"
                                    hide-details
                                    dense
                                    clearable
                                    @input="val => onInputTotalPrice(tabs[activeTabIndex].account, val)"
                                ></v-text-field>
                            </v-col>
                        </v-row>
                    </v-card-text>
                </v-card>
            </v-col>
        </v-row>

        <v-row>
            <v-col style="text-align: center; padding: 0px;">
                <v-btn
                    icon
                    @click="onClickAddDesiredEntry"
                >
                    <v-icon dark>
                        mdi-plus
                    </v-icon>
                </v-btn>
            </v-col>
        </v-row>

        <v-row
            v-for="(v, i) in tabs[activeTabIndex].desiredEntries"
            :key="i"
        >
            <v-col>
                <v-card
                    tile
                    outlined
                >
                    <v-card-title class="font-size-1" >
                        <v-row justify="center">
                            <v-col cols="auto">
                                <span>추가 매수</span>
                            </v-col>
                            <v-spacer></v-spacer>
                            <v-col cols="auto">
                                <v-btn
                                    v-if="tabs[activeTabIndex].desiredEntries.length > 1"
                                    icon
                                    @click="onClickRemoveDesiredEntry(i)"
                                >
                                    <v-icon dark>
                                        mdi-minus
                                    </v-icon>
                                </v-btn>
                            </v-col>
                        </v-row>
                    </v-card-title>
                    <v-card-text>
                        <v-row>
                            <v-col cols="6" sm="4">
                                <v-text-field
                                    ref="desiredFirstEntries"
                                    v-model="v.entryPrice"
                                    type="number"
                                    label="단가"
                                    hide-details
                                    dense
                                    clearable
                                    @input="onInputPrice(v)"
                                ></v-text-field>
                            </v-col>
                            <v-col cols="6" sm="4">
                                <v-text-field
                                    :value="v.quantity"
                                    type="number"
                                    label="보유 수량"
                                    hide-details
                                    dense
                                    clearable
                                    @input="quantity => onInputQuantity(v, quantity)"
                                ></v-text-field>
                            </v-col>
                            <v-col cols="12" sm="4">
                                <v-text-field
                                    :value="v.totalEntryPrice"
                                    type="number"
                                    label="총 매수 금액"
                                    hide-details
                                    dense
                                    clearable
                                    @input="totalEntryPrice => onInputTotalPrice(v, totalEntryPrice)"
                                ></v-text-field>
                            </v-col>
                        </v-row>
                    </v-card-text>
                </v-card>
            </v-col>
        </v-row>

        <v-row class="sticky-bottom white-theme">
            <v-col>
                <v-card
                    color="#3f5682"
                    dark
                    tile
                    outlined
                >
                    <v-card-title class="font-size-1">결과</v-card-title>
                    <v-card-text>
                        <v-row>
                            <v-col cols="6" sm="4">
                                <v-text-field
                                    v-model="calculatedAccount.entryPrice"
                                    type="number"
                                    label="매수 평균가"
                                    disabled
                                    hide-details
                                    dense
                                ></v-text-field>
                            </v-col>
                            <v-col cols="6" sm="4">
                                <v-text-field
                                    v-model="calculatedAccount.quantity"
                                    type="number"
                                    label="보유 수량"
                                    disabled
                                    hide-details
                                    dense
                                ></v-text-field>
                            </v-col>
                            <v-col cols="12" sm="4">
                                <v-text-field
                                    v-model="calculatedAccount.totalEntryPrice"
                                    type="number"
                                    label="매수 금액"
                                    disabled
                                    hide-details
                                    dense
                                ></v-text-field>
                            </v-col>
                        </v-row>
                    </v-card-text>
                </v-card>
            </v-col>
        </v-row>
    </v-container>

    <v-dialog
        v-model="isShowTabsSettingDialog"
        scrollable
        max-width="300px"
    >
        <v-card>
            <v-toolbar
                tile
                flat
            >
                <v-toolbar-title>종목 편집</v-toolbar-title>
                <v-spacer></v-spacer>
                <v-btn
                    icon
                    @click="onClickCloseTabSettingDialog"
                >
                    <v-icon>mdi-close</v-icon>
                </v-btn>
            </v-toolbar>
            <v-card-text style="height: 300px">
                <v-list>
                    <v-list-item
                        v-for="(v, i) in expectedTabs"
                        :key="i"
                        style="padding: 0px"
                    >
                        <v-checkbox
                            v-model="v.isChecked"
                            :value="i"
                            hide-details
                            dense
                        >
                        </v-checkbox>
                        <v-text-field
                            v-model="v.name"
                            hide-details
                            dense
                            clearable
                        ></v-text-field>
                    </v-list-item>
                </v-list>
                <v-row>
                    <v-col style="text-align: center;">
                        <v-btn
                            icon
                            @click="onClickAddTab"
                        >
                            <v-icon dark>
                                mdi-plus
                            </v-icon>
                        </v-btn>
                    </v-col>
                </v-row>
            </v-card-text>
            <v-divider></v-divider>
            <v-card-actions>
                <v-row>
                    <v-col cols="3">
                        <v-btn
                            block
                            depressed
                            tile
                            outlined
                            color="#3f5682"
                            @click="onClickRemoveTabs"
                        >
                            삭제
                        </v-btn>
                    </v-col>
                    <v-col cols="9">
                        <v-btn
                            block
                            depressed
                            tile
                            dark
                            color="#3f5682"
                            @click="onClickSaveTabs"
                        >
                            저장
                        </v-btn>
                    </v-col>
                </v-row>
            </v-card-actions>
        </v-card>
    </v-dialog>
</v-app>

</body>
</html>

<script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
<script src="./component/app.js"></script>
