<!DOCTYPE html>
<html>
<head>
    <title>주식, 코인 물타기 계산기 (분할 매수 지원)</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/@mdi/font@4.x/css/materialdesignicons.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui" charset="UTF-8">
</head>
<style>
    @media only screen and (min-width: 600px) {
        .sticky-bottom {
            position: -webkit-sticky;
            position: sticky;
            bottom: 0;
        }
    }
</style>
<body class="body-2">
<v-container id="app" fluid style="max-width: 700px;">
    <v-row>
        <v-col>
            <v-subheader><h2>주식, 코인 물타기 계산기</h2></v-subheader>
            <v-subheader>수수료가 발생할 경우 결과값에 차이가 있을 수 있습니다.</v-subheader>
        </v-col>
    </v-row>

    <v-row>
        <v-col>
            <v-card color="#e05a5a" dark>
                <v-card-title>현재 보유</v-card-title>
                <v-card-text>
                    <v-row>
                        <v-col cols="12" sm="4">
                            <v-text-field
                                ref="accountPrice"
                                v-model="account.entryPrice"
                                type="number"
                                label="매수 평균가"
                                @input="onInputPrice(account)"
                            ></v-text-field>
                        </v-col>
                        <v-col cols="12" sm="4">
                            <v-text-field
                                v-model="account.quantity"
                                type="number"
                                label="보유 수량"
                                @input="val => onInputQuantity(account, val)"
                            ></v-text-field>
                        </v-col>
                        <v-col cols="12" sm="4">
                            <v-text-field
                                v-model="account.totalEntryPrice"
                                type="number"
                                label="매수 금액"
                                @input="val => onInputTotalPrice(account, val)"
                            ></v-text-field>
                        </v-col>
                    </v-row>
                </v-card-text>
            </v-card>
        </v-col>
    </v-row>

    <v-row
        v-for="(v, i) in desiredEntries"
        :key="i"
    >
        <v-col>
            <v-card>
                <v-card-title>
                    <v-row justify="center">
                        <v-col cols="auto">
                            추가 매수
                        </v-col>
                        <v-spacer></v-spacer>
                        <v-col cols="auto">
                            <v-btn
                                v-if="i === 0"
                                class="mx-2"
                                fab
                                small
                                depressed
                                dark
                                color="#009688"
                                @click="onClickAddDesiredEntry"
                            >
                              <v-icon dark>
                                mdi-plus
                              </v-icon>
                            </v-btn>
                            <v-btn
                                v-if="i !== 0"
                                fab
                                dark
                                small
                                depressed
                                color="#ff5252"
                                @click="onClickRemoveDesiredEntry(i)"
                            >
                              <v-icon dark>
                                mdi-minus
                              </v-icon>
                            </v-btn>
                        </v-col>
                    </v-row>
                </v-card-title>
                <v-card-text>
                    <v-row>
                        <v-col cols="12" sm="4">
                            <v-text-field
                                ref="desiredFirstEntries"
                                v-model="v.entryPrice"
                                type="number"
                                label="단가"
                                @input="onInputPrice(v)"
                            ></v-text-field>
                        </v-col>
                        <v-col cols="12" sm="4">
                            <v-text-field
                                :value="v.quantity"
                                type="number"
                                label="보유 수량"
                                @input="quantity => onInputQuantity(v, quantity)"
                            ></v-text-field>
                        </v-col>
                        <v-col cols="12" sm="4">
                            <v-text-field
                                :value="v.totalEntryPrice"
                                type="number"
                                label="총 매수 금액"
                                @input="totalEntryPrice => onInputTotalPrice(v, totalEntryPrice)"
                            ></v-text-field>
                        </v-col>
                    </v-row>
                </v-card-text>
            </v-card>
        </v-col>
    </v-row>

    <v-row class="sticky-bottom" style="background-color: white;">
        <v-col>
            <v-card color="#3f5682" dark>
                <v-card-title>결과</v-card-title>
                <v-card-text>
                    <v-row>
                        <v-col cols="12" sm="4">
                            <v-text-field
                                v-model="calculatedAccount.entryPrice"
                                type="number"
                                label="매수 평균가"
                                disabled
                            ></v-text-field>
                        </v-col>
                        <v-col cols="12" sm="4">
                            <v-text-field
                                v-model="calculatedAccount.quantity"
                                type="number"
                                label="보유 수량"
                                disabled
                            ></v-text-field>
                        </v-col>
                        <v-col cols="12" sm="4">
                            <v-text-field
                                v-model="calculatedAccount.totalEntryPrice"
                                type="number"
                                label="매수 금액"
                                disabled
                            ></v-text-field>
                        </v-col>
                    </v-row>
                </v-card-text>
            </v-card>
        </v-col>
    </v-row>
</v-container>

</body>
</html>

<script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
<script src="./component/app.js"></script>
